{% extends "base.html" %}

{% block title %}
<title>Freeshelf: All Books</title>
{% endblock %}

{% block content %}
<div class="uk-container">
    <h1>Books</h1>
    {% if user.is_staff %}
        <p>Admin Controls:</p><a href="{% url 'new' %}">Add Book</a><br>
    {% endif %}
    <div class="uk-child-width-1-3@m uk-grid uk-flex" uk-grid>
        {% for book in books %}
            <div>
                <div class="uk-card uk-card-default uk-card-body uk-card-hover">
                    {% for categories in book.categories.all %}
                        {% if book.categories %}
                            <div class="uk-label uk-label-success">{{ categories }}</a></div>
                        {% endif %}
                    {% endfor %}
                    <span><a href"" class="uk-icon-button uk-margin-small-right" uk-icon="plus"></a></span>
                    <div class="uk-card-header">
                        <h2 class="uk-card-title uk-text-center">{{ book.title }}</h2>
                        <div class="uk-text-bolder uk-text-center">{{ book.author }}</div>
                    </div>
                    {% if book.description %}
                        <div>{{ book.description }}</div>
                    {% endif %}
                    {% if user.is_staff %}
                        <p>Admin Controls:<br>
                            <a class="has-text-link-light" href="{% url 'edit' pk=book.pk %}">Edit Book</a><br>    
                            <a class="has-text-danger-light" href="{% url 'delete' pk=book.pk %}">Delete Book</a>
                        </p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}