{% extends "base.html" %}

{% block title %}
<title>Freeshelf: All Books</title>
{% endblock %}

{% block content %}
<div>
    <h1>Books</h1>
    {% if user.is_staff %}
        <a class="has-text-link" href="{% url 'new' %}">Add Book</a><br>
    {% endif %}
    <div>
        {% for book in books %}
        <div>
            <h2>{{ book.title }}</h2>
            <div>{{ book.author }}</div>
            {% if book.description %}
                <div>{{ book.description }}</div>
            {% endif %}
            {% if user.is_staff %}
                <p>Admin Controls:<br>
                    <a class="has-text-link-light" href="{% url 'edit' pk=book.pk %}">Edit Book</a><br>    
                    <a class="has-text-danger-light" href="{% url 'delete' pk=book.pk %}">Delete Book</a>
                </p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}